.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.3;
  overflow-x: hidden;
}
@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 300;
  font-size: 2.31rem;
  line-height: 1.15;
  color: hsl(233deg, 26%, 24%);
  margin-top: 0;
}

h1 {
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 1.15;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 1.5625rem;
}
@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button, .button {
  position: relative;
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#BC4B4B), to(#BC4B4B));
  background: linear-gradient(to right, #BC4B4B, #BC4B4B);
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  overflow: hidden;
}
button::before, .button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out;
}
button:hover::before, .button:hover::before {
  opacity: 1;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .overlay {
  z-index: 1;
  position: fixed;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(233deg, 26%, 24%)), to(transparent));
  background-image: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}
.header nav {
  z-index: 2;
  position: relative;
  background-color: hsl(0deg, 0%, 100%);
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}
.header__logo img {
  width: 16.8125rem;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: hsl(233deg, 26%, 24%);
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__menu {
  z-index: 1;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: hsl(0deg, 0%, 100%);
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}
.header__menu a {
  display: block;
  padding: 0.625rem;
  text-align: center;
  color: hsl(233deg, 26%, 24%);
}
.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: hsl(233deg, 8%, 62%);
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  background: -webkit-gradient(linear, left top, right top, from(hsl(136deg, 65%, 51%)), to(hsl(192deg, 70%, 51%)));
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.header__links a:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links a:hover::before {
  opacity: 1;
}

.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/pms-hero-img.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/pms-hero-img.jpg");
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /*&__image {
      position: relative;
      background-image: url('/images/bg-intro-mobile.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      min-height: 17.5rem;

      @include breakpoint-up(medium) {
          min-height: 25rem;
      }

      @include breakpoint-up(large) {
          flex: 3;
          order: 2;
          height: 41rem;
          background-image: none;
          //background-image: url('/images/bg-intro-desktop.svg');
          //background-position: left center;
      }

      &::before {
          //content: "";
          //position: absolute;
          //height: 100%;
          //width: 100%;
          //background-image: url('/images/bg-intro-desktop.svg');
          //background-size: 93%;
          //background-repeat: no-repeat;
          //background-position: center bottom;

          @include breakpoint-up(large) {

              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              background-image: url('/images/bg-intro-desktop.svg');
              background-size: 168%;
              background-repeat: no-repeat;
              background-position: 14% 73%;

          }
      }

      &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url('/images/image-mockups.png');
          background-size: 93%;
          background-repeat: no-repeat;
          background-position: center bottom;

          @include breakpoint-up(medium) {

              background-size: 61%;
              background-position: center center;

          }

          @include breakpoint-up(large) {

              content: "";
              position: absolute;
              height: 125%;
              width: 100%;
              background-image: url('/images/image-mockups.png');
              background-size: 105%;
              background-repeat: no-repeat;
              background-position: center bottom;
              left: 16%;

          }
      }
  }*/
}
@media (min-width: 64em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero__text {
  text-align: center;
}
.hero__text h1 {
  color: white;
}
.hero__text p {
  color: white;
}
@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
    margin-left: 10.28125rem;
  }
}

.features {
  background-color: hsl(220deg, 16%, 96%);
  text-align: center;
}
@media (min-width: 40em) {
  .features {
    text-align: left;
  }
}
.features__intro {
  margin-bottom: 3.75rem;
}
@media (min-width: 40em) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features__item {
  padding: 0.9375rem;
}
@media (min-width: 40em) {
  .features__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
@media (min-width: 64em) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.features__icon {
  margin-bottom: 1.875rem;
}
.features__icon img {
  width: 5rem;
}
@media (min-width: 64em) {
  .features__icon {
    margin-bottom: 2.75rem;
  }
}
.features__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .features__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.features__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

.articles {
  background-color: hsl(0deg, 0%, 98%);
}

.article__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}
@media (min-width: 40em) {
  .article__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 64em) {
  .article__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  background-color: hsl(0deg, 0%, 100%);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.5625rem;
  }
}
.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
}
.article__title {
  font-size: 1.0625rem;
  line-height: 1.2rem;
  color: hsl(233deg, 26%, 24%);
  margin-bottom: 0.75rem;
}
.article__description {
  font-size: 0.8125rem;
}

.footer {
  background-color: hsl(233deg, 26%, 24%);
  color: hsl(0deg, 0%, 100%);
  padding: 2.5rem;
  text-align: center;
}
@media (min-width: 64em) {
  .footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}
.footer a {
  color: hsl(0deg, 0%, 100%);
}
.footer__logo {
  display: inline-block;
}
.footer__logo img {
  width: 16.8125rem;
}
@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}
@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    align-self: end;
  }
}
.footer__social img {
  width: 1rem;
}
.footer__social a {
  height: 1.25rem;
  display: inline-block;
}
.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}
.footer__social a:hover svg path {
  fill: hsl(136deg, 65%, 51%);
}
.footer__social a:not(:last-child) {
  margin-right: 1rem;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}
@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.footer__links a {
  line-height: 2.25rem;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.footer__links a:hover {
  color: hsl(136deg, 65%, 51%);
}
@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}
@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}
@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}
@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    justify-self: end;
    text-align: right;
  }
}
@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}
.footer__copyright {
  font-size: 0.8125rem;
  color: hsl(233deg, 8%, 62%);
}
@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    justify-self: end;
    align-self: end;
  }
}